@import url("https://unpkg.com/leaflet@1.9.4/dist/leaflet.css");

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.headerSearch {
  width: 100%;
  max-width: 900px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border: 1px solid #ebe9e9;
  border-radius: 1.5rem;
}

.headerSearchInput {
  padding: 0.7rem 0.5rem;
  font-size: 1rem;
}
.headerSearchItem {
  position: relative;
  display: flex;
  align-items: center;
}
.headerSearchItem .separator {
  width: 1px;
  height: 30px;
  display: inline-block;
  margin: 0 1rem;
  background-color: var(--text-400);
}
.textField {
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
}
.headerIcon {
  width: 1.5rem;
  height: 1.5rem;
  display: inline-block;
}
.locationIcon {
  color: var(--rose-500);
}

.guestOptions {
  width: 220px;
  position: absolute;
  top: 2rem;
  z-index: 1000;
  padding: 1rem;
  border: 1px solid var(--text-100);
  border-radius: 1rem;
  background-color: #fff;
  box-shadow: 0 0 10px #efefef;
}
.guestOptionItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.guestOptionItem:not(:last-child) {
  margin-bottom: 1rem;
}
.guestOptionItem span,
.guestOptionItem button {
  display: inline-block;
}
.guestOptionItem .optionCounterBtn {
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: var(--text-600);
  background-color: var(--text-100);
}
.optionText {
  display: inline-block;
  flex: 1;
  font-size: 0.9rem;
}

.optionCounter {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.date {
  position: absolute;
  top: 50px;
  left: -5rem;
  z-index: 1002;
}

.dateIcon {
  color: var(--primary-700);
}

.dateDropDown {
  margin-left: 0.5rem;
  font-size: 0.8rem;
}

.headerSearchBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.6rem;
  border-radius: 1rem;
  color: #fff;
  background-color: var(--primary-600);
}

/*  location list */
.nearbyLocation {
  max-width: 1280px;
  margin: 2rem auto;
}
.nearbyLocation h2 {
  margin-bottom: 1rem;
}
.locationList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.locationItem img {
  width: 100%;
  height: 20rem;
  object-position: center;
  object-fit: cover;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
}

.locationItemDesc > :not(:last-child) {
  margin-bottom: 0.2rem;
}

.locationItem .locationItemDesc .name {
  color: var(--text-400);
}
.locationItem .locationItemDesc .location {
  font-weight: 500;
}
.locationItem .locationItemDesc .price {
  display: flex;
  align-items: center;
  font-weight: 500;
}

.locationItem .locationItemDesc .price span {
  font-weight: 400;
  color: var(--text-400);
}

/* room detail */
.room {
  max-width: 1280px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 1rem;
  margin: 2rem auto;
}

.roomDetail h2 {
  margin-bottom: 0.3rem;
  font-size: 1rem;
}
.roomDetail > div {
  margin-bottom: 1rem;
}
.roomDetail img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 0.8rem;
}

/* map */

.mapContainer {
  position: relative;
  flex: 1;
  background-color: var(--text-100);
}
.mapContainer button.getLocation {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  z-index: 1000;
  padding: 0.3rem 0.5rem;
  border-radius: 0.5rem;
  font-size: 0.7rem;
  font-weight: bold;
  color: #fff;
  background-color: var(--primary-600);
  box-shadow: 0 0 10px var(--primary-600);
}
.map {
  height: 100%;
}

.searchList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.searchList .searchItem {
  display: flex;
  gap: 1rem;
}
.searchList .searchItem img {
  width: 6rem;
  height: 6rem;
  object-fit: cover;
  border-radius: 1rem;
}
.searchItem .searchItemDesc p {
  margin-bottom: 0.3rem;
}
.searchItem .searchItemDesc .name {
  color: var(--text-400);
}
.searchItem .searchItemDesc .location {
  font-weight: 500;
}
.searchItem .searchItemDesc .price {
  display: flex;
  align-items: center;
  font-weight: 500;
}

.searchItem .searchItemDesc .price span {
  font-weight: 400;
  color: var(--text-400);
}

/* app layout */
.appLayout {
  height: calc(100vh - 130px);
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 1rem;
  /* background-color: var(--text-100); */
}

.sidebar {
  width: 35%;
  padding-right: 1rem;
  overflow-y: scroll;
}

.searchItem.current-hotel {
  border: 3px solid var(--primary-700);
  border-radius: 1rem;
}

@media screen and (min-width: 768px) {
  .sidebar {
    width: 50%;
  }
}

/* bookmark page */
.bookmarkList {
  margin-top: 1rem;
}
.bookmarkItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding: 1rem;
  border: 1px solid var(--text-400);
  border-radius: 1rem;
}

.bookmarkList .bookmarkItem.current-bookmark {
  border: 2px solid var(--primary-600);
  background-color: var(--text-100);
}

.currentBookmark h2 {
  margin: 1rem 0;
}

.bookmarkItem .trash {
  width: 1.1rem;
  height: 1.1rem;
  color: var(--rose-500);
}

/* form */

.form .formControl {
  position: relative;
  margin-bottom: 1rem;
}

.formControl label {
  display: block;
  margin-bottom: 0.2rem;
}

.formControl input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid var(--text-400);
  border-radius: 0.5rem;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}
.btn--primary {
  background-color: var(--primary-600);
  color: #fff;
}

.btn--back {
  border: 1px solid var(--text-400);
}

.formControl .flag {
  position: absolute;
  top: 50%;
  right: 1rem;
}

a.active {
  font-weight: 700;
  color: var(--primary-600);
}

.loginContainer {
  max-width: 25rem;
  margin: 2rem auto;
  padding: 1rem;
  border: 1px solid var(--text-300);
  border-radius: 1rem;
}

.loginContainer button {
  width: 100%;
}

.loginContainer h2 {
  margin-bottom: 1rem;
}

.icon.logout {
  width: 1.1rem;
  height: 1.1rem;
  color: var(--rose-500);
}
